.csslint .panel-body {
    max-height: 200px;
    overflow-y: scroll;
}

.csslint address {
    display: inline;
    margin-right: 5px;
    color: red;
}

.csslint address:after {
    content: ': '
}

.csslint .close {
    margin-top: -5px;
}
